* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/*COR PRINCIPAL DO SITE*/
:root {
    --background: #E4C664;
    --header: #6E5F3C;
    --div_texto_inicial: black;
    --tag_html: black;
    --footer: #6E5F3C;
    --backgrouSobreMim: #E4C664;
    --textoSobreMim: #6E5F3C;
}

/* DARK MODE  */
:root .DarkMode {
    --background: #20183f;
    --header: #0d0a1a;
    --div_texto_inicial: white;
    --tag_html: #e0d4ff;
    --footer: #0d0a1a;
    --backgrouSobreMim: #20183f;
    --textoSobreMim: #0d0a1a;
}

/* CABEÇALHO */
header {
    background-color: var(--header);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 80px;
    position: fixed;
}

.txt_logo {
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.txt_logo:hover {
    transform: scale(1.2);
    color: #cfc2ff;
}

#div_menu {
    display: flex;
    gap: 40px;
}

.itens_menu {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease;
}

.itens_menu:hover {
    color: #cfc2ff;
    transform: scale(1.1);
}

/* TELA INICIAL */
#div_tela_inicial {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 80px;
}


#div_tela_inicial>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    max-width: 1000px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* TEXTO PRINCIPAL */
#div_texto_inicial {
    color: var(--div_texto_inicial);
    transition: 0.5s;
}

#div_texto_inicial:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.titulo_inicial {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
}

.tag_html {
    font-weight: 400;
    color: var(--tag_html);
    font-size: 30px;
}

.subtitulo_inicial {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
}

/* QUADRO FOTO */
#div_quadro_foto {
    width: 250px;
    height: 250px;
    background-image: url(imagens/1000055120.webp);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
#div_quadro_foto:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    #div_tela_inicial>div {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    #div_quadro_foto {
        width: 120px;
        height: 120px;
    }

    #div_menu {
        gap: 20px;
    }
}

/* SOBRE MIM */
#div_sobre_mim {
    background-color: var(--backgrouSobreMim);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
}

#div_conteudo_sobre_mim {
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

#div_conteudo_sobre_mim .tag_html {
    color: var(--tag_html);
    font-size: 28px;
    margin-bottom: 30px;
}

#div_texto_sobre_mim {
    background-color: var(--textoSobreMim);
    color: white;
    padding: 40px 60px;
    border: solid 3px black;
    border-radius: 5px;
    line-height: 30px;
    text-align: left;
}

#div_texto_sobre_mim>p {
    font-size: 25px;
}

/* Responsividade */
@media (max-width: 768px) {
    #div_texto_sobre_mim {
        padding: 25px 30px;
    }
}

/* SKILLS / HABILIDADES */
#div_skills {
    background-color: var(--backgrouSobreMim);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
}

#div_conteudo_skills {
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

#div_conteudo_skills .tag_html {
    color: var(--tag_html);
    font-size: 28px;
    margin-bottom: 30px;
}

/* QUADRO DAS SKILLS */
#div_quadro_skills {
    background-color: var(--textoSobreMim);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    padding: 60px 40px;
    border-radius: 5px;
    border: solid 3px black;
}

/* CADA BLOCO DE SKILL */
.item_skill {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    transition: 0.5s;
    border: solid 2px black;
}

.item_skill:hover {
    transform: scale(1.27);
    transition: 0.5s;
}


#img1 {
    background-image: url(imagens/html.png);
}

#img2 {
    background-image: url(imagens/css.png);
}

#img3 {
    background-image: url(imagens/java.png);
}

#img4 {
    background-image: url(imagens/cesharp.webp);
}

#img5 {
    background-image: url(imagens/mysql.png);
}

#img6 {
    background-image: url(imagens/figma.png);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    #div_quadro_skills {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding: 40px 20px;
    }

    .item_skill {
        width: 100px;
        height: 100px;
    }
}


/* RODAPÉ */
footer {
    background-color: var(--footer);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 80px;
}


/* BOTÃO SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cac063;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(131, 60, 189);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



html {
    scroll-behavior: smooth;
}